<!DOCTYPE html>
{%extends 'testapp/base.html'%}
    {%block body_block%}
    <div class="jumbotron">
        <div class="container" align="center">
            <h1>Add Student Information</h1>
            <form method="post">
                {{form.as_p}}
                {%csrf_token%}
                <input type="submit" class="btn btn-primary" value="Add Name">
                <a href="/addstudent" class="btn btn-primary">Re-fill up form</a>

            </form>

        </div>
    </div>

    {%endblock%}